.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #00539B;
  font-weight: 100;
}

.App-link {
  color: #FFD960;
}

.signin-btn{
  background-color: #00539B;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 20vmin;
  font-size: 70%;
  border: none;
  font-weight: 325;
  font-family: Helvetica, sans-serif;
}

.signin-btn:hover{
  background-color: #F4F4F4;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
