#table {
    padding-left: 10px;
}

.main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.search {
    margin: 10px;
    width: 30%;
}

ul li {
    font-size: 20px;
} 