.Login {
    text-align: center;
  }
  
  .Login-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #00539B;
    font-weight: 100;
  }
  
  .Login-link {
    color: #FFD960;
  }
  
  .signin-btn{
    background-color: #00539B;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 20vmin;
    font-size: 70%;
    border: none;
    font-weight: 325;
    font-family: Helvetica, sans-serif;
  }
  
  .signin-btn:hover{
    background-color: #F4F4F4;
  }

  